<dx-pivot-grid [id]="gridId" style="margin: 20px 20px 0 20px; width: 98vw;"
  [allowSortingBySummary]="allowSortingBySummary" [allowSorting]="allowSorting" [allowFiltering]="allowFiltering"
  [allowExpandAll]="allowExpandAll" [height]="pivotGridHeight" [showBorders]="true" [dataSource]="pivotGridDataSource"
  [rowHeaderLayout]="rowHeaderLayout" (onCellPrepared)="onCellPrepared($event)"
  (onContextMenuPreparing)="onContextMenuPreparing($event)" (onCellClick)="onCellClick($event)">

  <dxo-export [enabled]="exportEnabled" [fileName]="fileName"></dxo-export>
  <dxo-field-chooser [allowSearch]="fieldChooserAllowSearch" [enabled]="fieldChooserEnabled"></dxo-field-chooser>

  <dxo-field-panel [showDataFields]="showDataFields" [showRowFields]="showRowFields"
    [showColumnFields]="showColumnFields" [showFilterFields]="showFilterFields"
    [allowFieldDragging]="allowFieldDragging" [visible]="fieldPanelVisible">
  </dxo-field-panel>

  <dxo-state-storing [enabled]="true" type="custom" [customSave]="saveState">
  </dxo-state-storing>

  <dxo-scrolling mode="virtual"></dxo-scrolling>
</dx-pivot-grid>