<Pagination [numberOfPages]="numberOfPages" [startPage]="startPage" [lastPage]="lastPage" [currentPage]="currentPage"
    [maxNumberOfPagesToShowOnEachRequest]="maxNumberOfPagesToShowOnEachRequest"></Pagination>

<br />

<div style="width:20%">
    <DropDown [label]="label" 
              [items]="options"
              (onChangeEvent)="firstCombo($event)"
    ></DropDown>

    <br />

    <DropDown [items]="options"
              (onChangeEvent)="secondCombo($event)"
    ></DropDown>
</div>

<CheckBoxes
 [label]="checkboxGroupTitle"
 [items]="checkboxOptions"
 (onChangeEvent)="checkboxExample($event)"
></CheckBoxes>

<RadioButtons
 [label]="radioButtonGroupTitle"
 [items]="radioButtonOptions"
 [radioButtonGroupName]="radioButtonGroup"
 (onChangeEvent)="radioButtonExample($event)"
></RadioButtons>

<Table
 [columns]="columns"
 [items]="items"
></Table>