<div style="display:inline-block;vertical-align:top;width:100%;height:100%;">
    <div [style.display]="controlPanelVisible ? 'block' : 'none'" id="wrapper">
        <ng-content></ng-content>
    </div>

    <div style="width:100%;border-top: solid 2px rgb(180, 177, 177)">
        <dx-button [icon]="toggleControlPanelButtonStatus"
            style="width:20%;margin-left:40%;border: none;box-shadow: none;" text=" "
            id="btnToggleControlPanelVisibility" (click)="toggleVisibilityOfControlPanelVisibility()"></dx-button>
    </div>
</div>